In [1]:
import pandas as pd
import requests

# beautifulsoup4 can be used to precisely scrape data from the web page, but let's try read_html().
r = requests.get("https://www.worldometers.info/coronavirus/")

df = pd.read_html(r.text)

In [2]:
print(type(df))
print(len(df))

<class 'list'>
2

In [3]:
df[0]

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop
0,World,2173168,"+86,882",144949.0,"+6,475",546296.0,1481923,57060.0,279.00,18.6,NaN,NaN
1,USA,674829,"+26,826",34475.0,"+2,032",57256.0,583098,13369.0,2039.00,104.0,3386069.0,10230.0
2,Spain,182816,"+2,157",19130.0,+318,74797.0,88889,7371.0,3910.00,409.0,930230.0,19896.0
3,Italy,168941,"+3,786",22170.0,+525,40164.0,106607,2936.0,2794.00,367.0,1178403.0,19490.0
4,France,165027,"+17,164",17920.0,+753,32812.0,114295,6248.0,2528.00,275.0,333807.0,5114.0
...,...,...,...,...,...,...,...,...,...,...,...,...
209,Caribbean Netherlands,3,NaN,NaN,NaN,NaN,3,NaN,114.00,NaN,10.0,381.0
210,Saint Pierre Miquelon,1,NaN,NaN,NaN,NaN,1,NaN,173.00,NaN,NaN,NaN
211,Yemen,1,NaN,NaN,NaN,NaN,1,NaN,0.03,NaN,NaN,NaN
212,China,82341,+46,3342.0,NaN,77892.0,1107,95.0,57.00,2.0,NaN,NaN
213,Total:,2173168,"+86,882",144949.0,"+6,475",546296.0,1481923,57060.0,278.80,18.6,NaN,NaN

In [4]:
df[1]

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop
0,World,2086286,"+84,651",138474.0,"+8,096",510046.0,1437766,51160.0,268.00,17.8,NaN,NaN
1,China,82295,+46,3342.0,+1,77816.0,1137,113.0,57.00,2.0,NaN,NaN
2,USA,648003,"+30,342",32443.0,"+2,618",48701.0,566859,13487.0,1958.00,98.0,3258879.0,9845.0
3,Spain,180659,"+6,599",18812.0,+557,70853.0,90994,7371.0,3864.00,402.0,650755.0,13918.0
4,Italy,165155,"+2,667",21645.0,+578,38092.0,105418,3079.0,2732.00,358.0,1117404.0,18481.0
...,...,...,...,...,...,...,...,...,...,...,...,...
209,Caribbean Netherlands,3,NaN,NaN,NaN,NaN,3,NaN,114.00,NaN,10.0,381.0
210,Papua New Guinea,2,NaN,NaN,NaN,NaN,2,NaN,0.20,NaN,72.0,8.0
211,Saint Pierre Miquelon,1,NaN,NaN,NaN,NaN,1,NaN,173.00,NaN,NaN,NaN
212,Yemen,1,NaN,NaN,NaN,NaN,1,NaN,0.03,NaN,NaN,NaN
213,Total:,2086286,"+84,651",138474.0,"+8,096",510046.0,1437766,51160.0,267.70,17.8,NaN,NaN

WHAT? The same DataFrame twice? The exact replica.

In [5]:
df_virus_data = df[0].loc[:, ["Country,Other", "TotalCases", "TotalDeaths"]]

df_virus_data = df_virus_data.rename(columns={"Country,Other":"Country",
                   "TotalCases":"Cases",
                   "TotalDeaths":"Deaths"})
df_virus_data

                   Country    Cases    Deaths
0                    World  2173168  144949.0
1                      USA   674829   34475.0
2                    Spain   182816   19130.0
3                    Italy   168941   22170.0
4                   France   165027   17920.0
..                     ...      ...       ...
209  Caribbean Netherlands        3       NaN
210  Saint Pierre Miquelon        1       NaN
211                  Yemen        1       NaN
212                  China    82341    3342.0
213                 Total:  2173168  144949.0

[214 rows x 3 columns]

In [6]:
# Drop the rows for 'World' and 'Total:'
df_virus_data = df_virus_data[df_virus_data['Country']!='World']
df_virus_data = df_virus_data[df_virus_data['Country']!='Total:']                              
df_virus_data

                    Country   Cases   Deaths
1                       USA  674829  34475.0
2                     Spain  182816  19130.0
3                     Italy  168941  22170.0
4                    France  165027  17920.0
5                   Germany  136569   3943.0
..                      ...     ...      ...
208  British Virgin Islands       3      NaN
209   Caribbean Netherlands       3      NaN
210   Saint Pierre Miquelon       1      NaN
211                   Yemen       1      NaN
212                   China   82341   3342.0

[212 rows x 3 columns]

In [7]:
df_geolocation = pd.read_csv('./worldcities.csv')

In [8]:
# Only primary capitals, otherwise administrative ones e.g., Sao Paulo and Shanghai would be included
df_geolocation = df_geolocation[df_geolocation['capital']=='primary']
df_geolocation

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6850,139.7514,Japan,JP,JPN,Tōkyō,primary,35676000.0,1392685764
2,Mexico City,Mexico City,19.4424,-99.1310,Mexico,MX,MEX,Ciudad de México,primary,19028000.0,1484247881
9,Dhaka,Dhaka,23.7231,90.4086,Bangladesh,BD,BGD,Dhaka,primary,12797394.0,1050529279
10,Buenos Aires,Buenos Aires,-34.6025,-58.3975,Argentina,AR,ARG,"Buenos Aires, Ciudad Autónoma de",primary,12795000.0,1032717330
12,Cairo,Cairo,30.0500,31.2500,Egypt,EG,EGY,Al Qāhirah,primary,11893000.0,1818253931
...,...,...,...,...,...,...,...,...,...,...,...
600,Al Quds,Al Quds,31.7764,35.2269,West Bank,XW,XWB,NaN,primary,NaN,1934000006
601,Philipsburg,Philipsburg,18.0255,-63.0450,Sint Maarten,SX,SXM,NaN,primary,NaN,1534859858
602,Gitega,Gitega,-3.4271,29.9246,Burundi,BI,BDI,Gitega,primary,NaN,1108778000
603,Pristina,Pristina,42.6666,21.1724,Kosovo,XK,XKS,Prishtinë,primary,NaN,1901760068
604,Ngerulmud,Ngerulmud,7.5000,134.6242,Palau,PW,PLW,Melekeok,primary,NaN,1585525081

In [9]:
# Check if each virus country name is indeed included in the geolocation file
virus_country_list = df_virus_data['Country'].tolist()

geolocation_country_list = df_geolocation['country'].tolist()

cities_not_inlcuded_list = []

print("*** NOT included in the geolocation database ***")
for virus_country in virus_country_list:
    if virus_country not in geolocation_country_list:
        cities_not_inlcuded_list.append(virus_country)
        
cities_not_inlcuded_list
# United States
# United Kingdom
# Korea, South
# United Arab Emirates
# Bosnia And Herzegovina

*** NOT included in the geolocation database ***

['USA',
 'UK',
 'S. Korea',
 'UAE',
 'Bosnia and Herzegovina',
 'North Macedonia',
 'Hong Kong',
 'Diamond Princess',
 'Ivory Coast',
 'Channel Islands',
 'Réunion',
 'Palestine',
 'Isle of Man',
 'DRC',
 'Mayotte',
 'Faeroe Islands',
 'Martinique',
 'Guadeloupe',
 'Gibraltar',
 'Congo',
 'Trinidad and Tobago',
 'French Guiana',
 'Myanmar',
 'Bermuda',
 'Cayman Islands',
 'French Polynesia',
 'Bahamas',
 'Macao',
 'Saint Martin',
 'Antigua and Barbuda',
 'New Caledonia',
 'Eswatini',
 'Saint Kitts and Nevis',
 'CAR',
 'St. Vincent Grenadines',
 'Turks and Caicos',
 'Falkland Islands',
 'Greenland',
 'Montserrat',
 'MS Zaandam',
 'Gambia',
 'Vatican City',
 'St. Barth',
 'Western Sahara',
 'Sao Tome and Principe',
 'Anguilla',
 'British Virgin Islands',
 'Caribbean Netherlands',
 'Saint Pierre Miquelon']

In [11]:
# 'On' keyword preserves the index (1 - 212) of the caller's Dataframe, i.e., df_data
df_joined = df_virus_data.join(df_geolocation.set_index('country'), on='Country')
df_joined

,Country,Cases,Deaths,city,city_ascii,lat,lng,iso2,iso3,admin_name,capital,population,id
1,USA,674829,34475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Spain,182816,19130.0,Madrid,Madrid,40.4000,-3.6834,ES,ESP,Madrid,primary,5567000.0,1.724617e+09
3,Italy,168941,22170.0,Rome,Rome,41.8960,12.4833,IT,ITA,Lazio,primary,3339000.0,1.380383e+09
4,France,165027,17920.0,Paris,Paris,48.8667,2.3333,FR,FRA,Île-de-France,primary,9904000.0,1.250015e+09
5,Germany,136569,3943.0,Berlin,Berlin,52.5218,13.4015,DE,DEU,Berlin,primary,3406000.0,1.276451e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,British Virgin Islands,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Caribbean Netherlands,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,Saint Pierre Miquelon,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Yemen,1,NaN,Sanaa,Sanaa,15.3547,44.2066,YE,YEM,Amānat al ‘Āşimah,primary,2008000.0,1.887751e+09
212,China,82341,3342.0,Beijing,Beijing,39.9289,116.3883,CN,CHN,Beijing,primary,11106000.0,1.156229e+09

In [53]:
df_joined.to_csv('test')

In [30]:
joined_data_file_name = 'joined_data.csv'
df_joined.to_csv(joined_data_file_name, index=False)

In [16]:
import os
import zipfile
import datetime as dt
from copy import deepcopy

from arcgis.gis import GIS
from arcgis.features import GeoAccessor
#import arcpy



def now_dt():
    # return str(int(dt.datetime.now().timestamp()))
    return f'{dt.datetime.now():%Y%m%d%H%M%S%z}')

import ruamel.yaml as yaml

with open("arcgis_login.yaml") as stream:
    try:
        arc_gis_login_dict = yaml.safe_load(stream)
        #print(yaml.safe_load(stream))
    except yaml.YAMLError as exc:
        print("YAML reading error")
        
#gis = GIS("https://www.arcgis.com", "arcgis_python", "P@ssword123")

In [29]:
gis = GIS(arc_gis_login_dict["dev_account"]['url'], 
        arc_gis_login_dict["dev_account"]['username'],
        arc_gis_login_dict["dev_account"]['password'])

In [55]:
gis.users.me.folders

[{'username': 'tezzy_o',
  'id': '24dea461778d46e08c66875d785d3be8',
  'title': 'CoronaVirus',
  'created': 1587078553000}]

In [75]:
folder_name = 'CoronaVirus'
file_type = 'CSV' # Must to be all UPPER case, not 'csv'
full_path_name = !pwd # IPython.utils.text.SList
full_path_name = str(full_path_name[0]) + '/'

corona_virus_props = {"title":"Corona_Virus_" + now_dt(),
                   "type":file_type,
                   "tags":"Corona Virus, World, Cases, Deaths",
                   "snippet":"Corona virus cases and deaths by country.",
                   "description":"Data downloaded from worldometers: COVID-19 \
                   Corona Virus Pandemic https://www.worldometers.info/coronavirus/"}

if not folder_name in [folder['title'] for folder in gis.users.me.folders]:
    gis.content.create_folder(folder_name)

corona_virus_props_data_item = gis.content.add(item_properties=corona_virus_props, 
                                               data=full_path_name+joined_data_file_name, 
                                               folder=folder_name)
corona_virus_props_item = corona_virus_props_data_item.publish()
corona_virus_props_item.id

Item 'joined_data.csv' already exists.

RuntimeError: Item 'joined_data.csv' already exists.
(Error Code: 409)

In [62]:
source_info = gis.content.analyze(item=corona_virus_props_item.id, file_type=file_type, location_type='none')
source_info['publishParameters']

Unable to analyze item.
Item type'url' is not supported for anzlyzing, The item needs to be of type file

RuntimeError: Unable to analyze item.
Item type'url' is not supported for anzlyzing, The item needs to be of type file
(Error Code: 400)

In [37]:
df_joined.to_csv('./country_list.csv', index=False)

In [58]:
import arcgis
from arcgis.gis import GIS
from IPython.display import display

gis = GIS() # Connect to ArcGIS Online as an anonymous user
# search_subset = ago_gis.content.search("world") # , item_type = "Feature Layer")
search_subset = ago_gis.content.search('world', outside_org=True)



world_map = gis.map('world', 1)
world_map

layer = gis.content.get('f126c266cae74be4a06873b43684d294')

world_map.add_layer(layer)
# for it in search_subset:
#     display(it)

# subset_item = search_subset[0]
# subset_item

In [64]:
world_map.center = [7.793813, -173.102401] # [latitude, longitude]
world_map.zoom = 2
world_map

MapView(jupyter_target='notebook', layout=Layout(height='400px', width='100%'), ready=True, zoom=2.0)

In [67]:

gis = GIS()
webmap = gis.content.get('41281c51f9de45edaf1c8ed44bb10e30')
webmap

# Import the WebMap class

# from the arcgis.mapping module and visualize the web map.

from arcgis.mapping import WebMap
la_parks_trails = WebMap(webmap)
la_parks_trails

MapView(hide_mode_switch=True, layout=Layout(height='400px', width='100%'))

In [68]:
operational_layers = la_parks_trails.layers
n = len(operational_layers)
print("The webmap has {} layers.".format(n))

The webmap has 4 layers.

In [69]:
for layer in operational_layers:
    print("{}\n\t{}".format(layer['id'], layer['url']))

Trailheads_8053
	https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trailheads/FeatureServer/0
Trails_7558_8861
	https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0
Trails_7558
	https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0
Parks_and_Open_Space_8268
	https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Parks_and_Open_Space/FeatureServer/0

In [ ]:
# add the initial csv file and publish that as a web layer
item_prop = {'title':'USA Capitals spreadsheet ' + now_ts}
csv_item = gis.content.add(item_properties=item_prop, data=my_csv)
csv_item